@model IEnumerable<VideojuegosApp.Models.Juego>
@{

    ViewData["Title"] = "Medicamentos";

    Layout = "_LayoutAdminLTE";
}

<div class="container mt-4">
    <h2 class="mb-4">Listado de Juegos</h2>
    <a asp-action="Create" class="btn btn-primary mb-3">Registrar Juego</a>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>$@item.Precio</td>
                    <td>@item.Stock Pzs</td>
                    <td>
                        <img src="@item.RutaImagen" width="80" class="img-thumbnail" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" onclick="return confirm('¿Desea eliminar este medicamento?')">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>